/* Estilos Generales */
* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Menu de Navegacion */
header{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: #072c57;
    color: #fff;
}

header h1{
    color: #fff;
    font-size: 18px;
}

header .abrir-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:48px;
    height:48px;
    top:0.1rem;
    right: 0.1rem;
    padding:0.25rem;
}

.abrir-menu{
    display: none;
}

.cerrar-menu{
    display: none;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 1rem;
}

.nav-list li:hover{
    background-color: #06809e;
    }

.nav-list li a {
    text-decoration: none;
    color: #fff;
}
/* Fin de  Menu de Navegacion */


/* carusel */
.carusel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 5px #c2c2c2;
    margin-bottom: 1rem;
    z-index: 1000;
}

.carusel .caruseltrack {
    position: relative;
    display: flex;
    width: max-content;
    height: 400px;
}

.carusel .caruseltrack .caruselItem {
    position: relative;
    width: 100vw;
}

.carusel .caruseltrack .caruselItem img {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.carusel .caruseltrack .caruselItem h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.carusel .navigator{
    width:100vw;
    background-color: transparent;
    display:flex;
    position: absolute;
    bottom: 0px;
    left:0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    padding:1rem;
}
.carusel .navigator .dot{
    width: 7px;
    height: 7px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0px 0.5rem;
    cursor: pointer;
}
/* Fin carusel */

/* Seccion Descripcion */
.descripcion {
    padding: 20px; 
    margin: 0 auto 20px; 
    max-width: 90%; 
}
  
.descripcion h2 {
    text-align: center;
    font-size: 24px; 
    margin-bottom: 10px; 
}
  
.descripcion p {
    text-align: justify;
    font-size: 16px; 
    line-height: 1.5; 
}
/* Fin Seccion Descripcion */


/* Seccion de Eventos y Noticias */
.notieventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto 20px; 
  }
  
  .item {
    flex-basis: calc(50% - 20px); /* ajusta el ancho de cada item según el diseño */
    margin-bottom: 20px;
  }
  
  .item h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }
  
  .item h3 {
    color: #444;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .item picture {
    margin-top: 10px;
  }
  
  .item img {
    width: 100%;
    height: auto;
  }
/* Fin de Seccion de Eventos y Noticias */


/*Inicio Preguntas frecuentes*/

.titulo{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.preguntas-container{
    max-width: 800px;
    margin: 0 auto;
}

.preguntas{
    border-bottom: 1px solid #000000;
}
.preguntas button{
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
}

.ultimo{
    padding: 0 0 25px 0;
}

.preguntas p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #000000;
}

/*cada que hay un click*/
.preguntas p.show{
    max-height: 300px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.preguntas button .d-arrow.rotate{
    transform: rotate(180deg);
}

/*FIn Preguntas Frecuentes*/

/*Pagina de Contacto*/

.contactenos{
    position: relative;
    width: 100%;
    padding: 40px;
}

.contactenos .tituloo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactenos .tituloo h2{
    /*color: #fff;*/
    font-size: 50px;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contacto{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15) ;
}

.caja{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contacto h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-top: 10px;
}

/*Fomulario*/
.cajaform{
    position: relative;
    width: 100%;
}

.cajaform .row50{
    display: flex;
    gap: 20px;
}

.cajainput{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.cajaform .row100 .cajainput{
    width: 100%;
}

.cajainput span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.cajainput input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.cajainput textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.cajainput button{
    background-color: #0e3959;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.cajainput ::placeholder{
    color: #999;
}

/*info*/
.info{
    background-color: #0e3959;
}

.info h3{
    color: #fff;
}

.info .cajainfo div{
    display: flex;
    align-items: center;
    margin: 10px;
}

.info .cajainfo div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .cajainfo div p{
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
}

.info .cajainfo div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}


.sci{
    margin-top: 40px;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover{
    color: #fff;
}

.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/*Fin de Pagina de COntacto*/


/* Pie de Página */
footer {
    background-color: #000e1f;
    color: white;
    text-align: center;
    padding: 20px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}
/* Fin de Pie de Página */

/* Menu Hamburguesa, responsive celular */
@media (max-width: 721px){

    header .abrir-menu div{
        width:80%;
        border-radius: 3px;
        background-color: #fff;
        height: 5px;
        margin: 5px 0px; 
    }

    .nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #08255a;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 1001;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        color: #fff;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: #e9ecef;
    }

    .abrir-menu{
        display: block;
    }

    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        color: #fff;
    }

    .carusel {
        height: 680px;
    }

    .carusel .caruseltrack .caruselItem img {
        min-height: 680px;
    }
}

/* Responsive Tablet */
@media (min-width: 1025px) {

}