@primary-color: #fff;
@secondary-color: #0e3959;
@third-color: #333;
@fourth-color:#6ae6df;
@alternative-color: #a5a5a5;
@fifth-color: #aaaaaa;

@import "main.less";
@import "header.less";
@import "footer.less";
@import "inicio.less";
@import "acercade.less";
@import "nuestrosprogramas.less";
@import "galeria.less";
@import "blog.less";
@import "eventos.less";
@import "contacto.less";
@import "faqs.less";
@import "experiencia.less";
@import "donaciones.less";


