<section class="galeria">
  <h1>Galería de Fotos</h1>
  <div class="contenedor-imagenes">
    {{#each datos}}
      <picture>
        <img src="{{url}}">
      </picture>
    {{/each}}
  </div>
</section>